.div_aside {
  background-color: white;
  border-radius: var(--box-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_aside section {
  flex-grow: 1;
}

.section_poke_intro {
  margin-bottom: 1.8rem;
}

.wrapper_detail_img {
  min-height: 8rem;
  position: relative;
}

.wrapper_detail_img img {
  min-height: 8rem;
  position: absolute;
  bottom: 2rem;
  right: -0.85rem;
  z-index: 2;
  image-rendering: pixelated;
}

.section_poke_intro h2 {
  margin-bottom: 0.6rem;
}

.section_poke_info h4 {
  text-transform: uppercase;
}

.section_poke_intro p {
  color: var(--font-color-2nd);
}

.wrapper_infos {
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 1rem;
}

.div_sound_btn {
  display: flex;
  justify-content: center;
  align-items: end;
}

.div_sound_btn img {
  width: 1.5rem;
}
