.div_aside {
  background-color: white;
  border-radius: var(--box-radius);
  box-shadow: var(--box-radius);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.wrapper_detail_img {
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke_detail_img {
  height: 160%;
  width: 160%;
  display: block;
  object-fit: cover;
  object-position: center;
  image-rendering: pixelated;
}

.section_poke_intro h2 {
  margin-bottom: 0.6rem;
}

.section_poke_intro p {
  color: var(--font-color-2nd);
}

.div_sound_btn img {
  width: 1.5rem;
}
