.div_aside {
  background-color: white;
  border-radius: var(--box-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77vh;
  padding-bottom: 1rem;
  margin-top: 2.5rem;
}

.div_aside section {
  flex-grow: 1;
}

.section_poke_intro {
  margin-bottom: 1.8rem;
}

.wrapper_detail_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_detail_img img {
  min-height: 8rem;
  /* position: absolute;
  bottom: 2rem;
  right: -0.85rem;
  z-index: 2; */
  margin-top: -2.5rem;
  image-rendering: pixelated;
}

.section_poke_intro h2 {
  margin-bottom: 0.6rem;
}

.section_poke_info h4 {
  text-transform: uppercase;
}

.section_poke_intro p {
  color: var(--font-color-2nd);
}

.wrapper_infos {
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 1rem;
}

.div_sound_btn {
  display: flex;
  justify-content: center;
  align-items: end;
}

.div_sound_btn img {
  width: 1.5rem;
}

.wrapper_detail_img_with_sound {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.sound_speech_bubble {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 0.4rem 0.6rem;
  box-shadow: var(--box-shadow);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.sound_speech_bubble::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: white;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  box-shadow: var(--box-shadow);
  z-index: 11;
  /* transition: all 0.2s ease; */
}

.sound_speech_bubble img {
  width: 1.5rem;
  cursor: pointer;
}

.sound_speech_bubble:hover {
  background-color: #f3f3f3;
  border-color: #bbb;
}

.sound_speech_bubble:hover img {
  filter: brightness(1.2);
}

.sound_speech_bubble:hover::after {
  background: #f3f3f3;
  border-color: #bbb;
  /* filter: brightness(1.2); */
}
