.select-filter {
  position: relative;
  display: inline-block;
  border-radius: 999px;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-right: 12px;
  cursor: pointer;
}

.select-filter::after {
  content: "▾";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: #888;
  pointer-events: none;
}

/* TODO Arrow spin */

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  background: transparent;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 24px 8px 8px;
  border-radius: 999px;
  color: #333;
  width: 100%;
  cursor: pointer;
}
