.card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 40px 20px 20px 0;
  width: 200px;
  margin: 30px auto 20px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-details img {
  position: absolute;
  bottom: 85px;
  width: 128px;
  height: 128px;
}

.id-number {
  color: #a0a0a0;
  font-size: 0.75rem;
  margin-bottom: 4px;
  font-weight: 600;
  margin-top: 1rem;
}

.name {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #1e2b3a;
}

.card.active {
  background-color: #e0f8db;
  transform: scale(1.1);
  z-index: 1;
}
