.wrapper_pokemonlist {
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 56vh;
  box-shadow: var(--box-shadow);
  background-color: #d3d7dd;
  border-radius: 1rem;
  padding: 2rem;
}

.pokemon_cards {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}
