.section_pokemonlist {
  padding: 20px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 50vh;
}

.pokemon_cards {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
