.wrapper_searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchbar {
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  height: 3.5rem;
  width: 100%;
  padding: 0 1rem;
}

.searchbar::placeholder {
  color: var(--font-color-2nd);
}

.search_button {
  border: none;
  width: 3.4rem;
  height: 3.4rem;
  background-color: transparent;
}

.search_button img {
  width: 3.4rem;
  height: 3.4rem;
}
