:root {
  font-family: var(--font-text), Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: var(--font-color-1st);
  background-color: var(--bg-color);

  /* ----- Variables for Styling ----- */

  --font-headline: "Poppins-Bold";
  --font-text: "Poppins-Regular";

  --font-color-1st: #182537;
  --font-color-2nd: #858f99;

  --bg-color: #f7f8fc;
  --bg-footer-color: #f0f1f7;
  --icon-color: #777a7b;
  --pokemon-color-red: #e76058;

  --box-shadow: 1px -2px 34px -3px rgba(133, 143, 153, 0.4);
  --box-radius: 1.5rem;
}

/* ------ Fonts ------ */

@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf");
}

/* ----- Gobal Styling ----- */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  border-radius: 1rem;
  background: white;
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color-2nd);
  border-radius: 1rem;
}

a {
  font-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headline);
}

.bg_image {
  position: absolute;
  top: -8rem;
  left: -10rem;
  z-index: -1;
  overflow: hidden;
  width: 30rem;
  height: 30rem;
  background-image: url("../public/img/icon_pokeball_cutout.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
